.nav-hover-section {
  left: 9%;
  margin: auto;
  left: 50%;
  margin-left: -570px;
  height: 440px;
  width: 1135px;
  z-index: 1;
  text-align: left;
  position: absolute;
  top: 0;
  background-color: #fff;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 0 8px rgb(0 0 0 / 10%);
  pointer-events: auto;
  color: black;
  overflow: scroll;
}
.nav-hover-container {
  visibility: hidden;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  pointer-events: none;
}

.nav-item:hover .nav-hover-container {
  visibility: visible !important;
  transition-delay: 0.15s;
}
